<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=41.87.218.14;Database=aspnetdb-vlo;User Id=Steve;Password=JouMaSe00s*;" providerName="System.Data.SqlClient"/>
    <add name="VlocitySqlServer" connectionString="Data Source=41.87.218.14;Database=VLO-Admin;User Id=Steve;Password=JouMaSe00s*;" providerName="System.Data.SqlClient"/>
    <add name="MySqlDBPLotter" connectionString="server=41.66.138.19;port=3306;uid=remote;pwd=R3mVl0city;database=radmanager_ver1" providerName="MySql.Data.MySqlClient"/>
   
  </connectionStrings>
  <system.web>
    <pages styleSheetTheme="Plain" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <customErrors mode="RemoteOnly"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="Default.aspx" protection="Validation" timeout="300"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <roleManager enabled="true"/>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
  </system.web>
  <location path="Admin">
    <system.web/>
  </location>
  <location path="App_Themes">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path = "Maps.aspx">
    <system.web>
      <authorization>
        <deny users ="?"/>
        <allow roles ="admin,staff,users,super"/>
      </authorization>
    </system.web>
  </location>
  <location path = "Register.aspx">
    <system.web>
      <authorization>
        <allow users ="?"/>
      </authorization>
    </system.web>
  </location>
  <location path = "Coverage.aspx">
    <system.web>
      <authorization>
        <deny users ="?"/>
        <allow roles ="admin,staff,users,super"/>
      </authorization>
    </system.web>
  </location>
  <location path = "Users.aspx">
    <system.web>
      <authorization>
        <deny users ="?"/>
        <allow roles ="admin,super"/>
      </authorization>
    </system.web>
  </location>
  <location path = "Towers.aspx">
    <system.web>
      <authorization>
        <deny users ="?"/>
        <allow roles ="admin,super"/>
      </authorization>
    </system.web>
  </location>


  <appSettings>
    <add key="radiusserver" value="41.66.138.23"/>
    <add key="radiussecret" value="Vl0r4dius"/>
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="steve@vlocity.co.za">
        <network host="smtp.vlocity.co.za" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
</configuration>